# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
# VSCode
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# LaTeX auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
*.toc

*.csv

data/*.csv

keys/*.txt
*VT_API.txt
*API_TOKEN.txt

*.tex

*03_ML_URL_Fraud/Model/RandomForest_model.pkl
*03_ML_URL_Fraud/Model/xgb_model.pkl